# Config based on Mozilla Security Guidelines - OpenSSH Modern
# https://wiki.mozilla.org/Security/Guidelines/OpenSSH_client
# Retrieved 2016-11-24

# Explicitly use protocol version 2; version 1 is old and broken
Protocol 2
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
# ecdsa is omitted due to (real or imagined) concerns about NIST curves and NSA

# Handle network traffic with a restricted child process
UsePrivilegeSeparation sandbox

# Logging
SyslogFacility AUTHPRIV

# Mozilla's key exchange algorithm, cipher and message authentication code list
KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

# Don't allow direct root login
PermitRootLogin no

# Don't allow password authentication
PasswordAuthentication no
ChallengeResponseAuthentication no

# Shorter grace period- only keys are allowed anyway, so legitimate logins should be pretty quick
LoginGraceTime 15

# Check user's file permissions when they log in
StrictModes yes

# Accept locale-related environment variables
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

# Enable PAM (required on RHEL/CentOS)
UsePAM yes

# Enable SFTP subsystem
Subsystem sftp /usr/libexec/openssh/sftp-server

# Disable X11 Forwarding to reduce attack surface
X11Forwarding no

# Skip reverse DNS lookups- speeds up Vagrant logins
UseDNS no
