[Unit]
Description=Prometheus
After=docker.service
Requires=docker.service
 
[Service]
Restart=always
ExecStartPre=-/usr/bin/docker stop prometheus
ExecStartPre=-/usr/bin/docker rm prometheus
ExecStart=/usr/bin/docker run --name prometheus -p 9090:9090 --rm prom/prometheus:v1.7.1
 
[Install]
WantedBy=multi-user.target
