Host *
    ChallengeResponseAuthentication no
    GSSAPIAuthentication no
    HashKnownHosts yes
    PasswordAuthentication no
    PubkeyAuthentication yes
    SendEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
    SendEnv LC_IDENTIFICATION LC_ALL LANGUAGE
    SendEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
    SendEnv XMODIFIERS
    UseRoaming no
